$primaryColor: #222;
$secondaryColor: green;

$tableBorder: #112B0F;
$cellBorder: #292929;
$headerColor: white;


$titleFont: 'Raleway', sans-serif;
$bodyFont: 'Roboto Slab', serif;


html, body {
  background-color: $primaryColor;
  height: 100%;
  width: 100%;
}


.App {
  background-color: $primaryColor;
  border: solid 1px $secondaryColor;
  top: 30px;
  padding: 30px;
  width: 95%;
  margin: 0 auto;
  position: relative;
  text-align: center;

  h3 {
    color: $headerColor;
    font-family: $titleFont;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin-top: 50px;

    button {
      background-color: #1A3F16;
      width: 25%;
      margin: 3%;
      font-family: $bodyFont;
    }

  }

  .controlBar {
    width: 100%;
  }


  .Board {
    position: relative;
    border: solid 10px $tableBorder;
    border-radius: 10px;
    white-space: nowrap;
  }


  .cellRow {
    margin: 0px;
    height: 10px;
    padding: 0px;
    position: relative;
    display: block;
  }

  .Cell {
    width: 10px;
    height: 10px;
    margin-bottom: 20px;
    position: relative;
    border: solid .1px $cellBorder;
    display: inline-block;
    cursor: pointer;
  }

  .alive {
    background-color: red;
  }

  .dead {
    background-color: transparent;
  }

  .DisplayBar {
    margin-top: 15px;

    label[type=button] {
      background-color: $tableBorder;
      border-color: #36842F;
    }
  }
}


.InfoModal {
  background-color: $primaryColor;
  border: solid 2px $secondaryColor;
  color: white;
  font-size: 1.1em;
}

.modalHead {
  @extend .InfoModal;
  text-align: center;
  font-family: $titleFont;

  span {
    color: white;

  }
}

.modalBod {
  @extend .InfoModal;
  border-bottom: none;
  border-top: none;
  font-family: $bodyFont;
  font-weight: 100;
  font-size: 1em;

  span {
    color: $secondaryColor;
    font-weight: bold;
  }
}
.modalFoot {
  @extend .InfoModal;
  border-top: none;

  button {
    background-color: $secondaryColor;
  }
}
