$primaryColor: #222;
$secondaryColor: #b56969;
$red: #721817;
$darkBlue: #011936;
$tertiaryColor: #e6cf8b;
$textColor: white;
$textColorDark: #22264b;

$titleFont: 'Raleway', sans-serif;
$bodyFont: 'Roboto Slab', serif;


html, body {
  background-color: $primaryColor;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $textColor;
  font-family: $bodyFont;
  background-color: $primaryColor;

  .Board {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    border: solid 1px coral;
    border-collapse: collapse;
  }

  .Square {
    width: 20px;
    height: 20px;
    border: solid 1px coral;
    border-collapse: collapse;

    input {
      width: 100%;
      height: 100%;
    }
  }

}
