$primaryColor: #222;
$secondaryColor: red;
$tertiaryColor: green;
$textColor: gray;


html, body {
  background-color: $primaryColor;
  color: $textColor;
}

.App {
  text-align: center;
  border: dashed 2px coral;
  width: 70%;
  margin: 0 auto;
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.modal{ display:block; }




.addButton {
  float: right;
  margin-right: 4em;
}

.recipe {
  text-align: left;
  margin-left: 1.5em;
}

.recipeTitle {
  font-size: 2.5em;
  cursor: pointer;
}

.recipeBody {
  font-size: 1.5em;
  display: none;
}
